.form {
  width: calc(100% - 10rem);
  margin: 3rem auto;
  background: var(--Light);
  border-radius: 5px;
  box-shadow: 3px 3px var(--Dark);
  padding: 1rem 2rem;
}

.heading {
  text-align: center;
  margin-bottom: -0.5rem;
}

input {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}

.title {
  height: 19px;
}

.image {
  margin-bottom: 2rem;
}

.submit {
  background: var(--Dark);
  color: var(--Light);
  border: none;
  font-size: 1.5rem;
  border-radius: 2.5px;
}

.space {
  height: 4rem;
  display: inline;
  margin-bottom: 4rem
}

#template {
  height: auto;
  width: calc(100% - 3rem - 196px);
  border-radius: 5px;
  box-shadow: 2px 2px #4e4e4e;
  display: inline;
  margin: 1rem;
  margin-top: 0;
  overflow: hidden;
  background: var(--Medium);
  vertical-align:top;
}

.text {
  display:inline;
  margin-left: 1rem;
}

.titleContainer {
  display: flex;
  flex-direction: row;
}

#spinner:before {
  top: auto !important;
}
