h3 {
  margin: 0;
}

h1 {
  margin: 0;
}

.container {
  width: calc(100% - 2rem);
  height: auto;
  padding: 1rem 0;
  margin: 0;
}

.content {
  width: calc(100% - 2rem);
  height: auto;
  background: var(--Light);
  margin: 0.5rem;
  border-radius: 3px;
  padding: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

.content:nth-child(odd) {
  background: var(--Medium);
}

.content:nth-child(odd) .thumbnail {
  background: var(--Primary);
}

.thumbnail {
  height: 10rem;
  width: 10rem;
  border-radius: 5px;
  box-shadow: 2px 2px #4e4e4e;
  display: inline;
  margin: auto 0.5rem;
  overflow: hidden;
  background: var(--Medium);
}

.contents {
  width: calc(100% - 10rem);
  display: flex;
  flex-direction: column;
}
.contents:nth-child(n) {
  margin:auto;
}

span {
  font-size: 2rem;
  margin: auto;
}

.title {
  text-align: center;
  margin: 1rem auto;
  font-size: 2.5rem;
  font-weight:lighter;
}

.description {
  display: inline;
  text-align: left;
}

.votes {
  text-align: center;
  margin: auto;
  margin-right: 2rem;
  font-size: 5rem;
  font-weight: lighter;
}

@media (max-width: 432px) {
  .contents {
    display: none;
  }
  .thumbnail {
    margin: 1rem auto;
    display: block;
  }
}
